.main {
    padding: 20px;
    margin-top: 75px;
    font-family: 'Helvetica', serif;
    border-radius: 32px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Helvetica', serif;
}

input {
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #638ea7;
}

input[type=submit] {
    font-family: 'Helvetica', serif;
    width: 100%;
    background-color: #638ea7;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}